<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ChesSBS | ABOUT</title>
    <link rel="stylesheet" href="/styles/navbar.css" />
    <link rel="stylesheet" href="/styles/about.css" />
    <link rel="stylesheet" href="/styles/team.css" />
    <link rel="stylesheet" href="/styles/footer.css" />

    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="page-container">
      <div class="navbar">
        <img
          src="https://cdn3.iconfinder.com/data/icons/sport-games-and-fitness-1/64/C_Chess_Knight-512.png"
          alt="logo"
          class="logo"
        />
        <nav>
          <ul>
            <li class="navbar-li"><a href="" class="navbar-links">HOME</a></li>
            <li class="navbar-li"><a href="" class="navbar-links">ABOUT</a></li>
            <li class="navbar-li">
              <a href="" class="navbar-links">DASHBOARD</a>
            </li>
            <li class="navbar-li">
              <a href="" class="navbar-links">RESOURCES</a>
            </li>
            <li class="navbar-li">
              <a href="" class="navbar-links">ACTIVITIES</a>
            </li>
          </ul>
        </nav>
        <img src="/images/menu.png" alt="menu icon" class="menu-icon" />
      </div>

      <div class="about-section">
        <h1 class="about-h1">ABOUT US</h1>
        <br />
        <br />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem
          ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor
          sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit
          amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur
          adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem
          ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor
          sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit
          amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur
          adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.
        </p>
        <button type="button" onclick="document.getElementById('team').scrollIntoView()" style="cursor: pointer;">
          The Team
        </button>
      </div>
      <hr style="color: whitesmoke" />
      <h1 class="team-h1">THE TEAM</h1>
      <div class="main" id="team">
        <div class="profile-card">
          <div class="img">
            <img
              src="https://static.vecteezy.com/packs/media/components/global/search-explore-nav/img/vectors/term-bg-1-666de2d941529c25aa511dc18d727160.jpg"
            />
          </div>
          <div class="caption">
            <h3>David Corner</h3>
            <p>Front End Developer</p>
            <div class="social-links">
              <a href="#"><i class="fab fa-facebook"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
          </div>
        </div>
        <div class="profile-card">
          <div class="img">
            <img
              src="https://static.vecteezy.com/packs/media/components/global/search-explore-nav/img/vectors/term-bg-1-666de2d941529c25aa511dc18d727160.jpg"
            />
          </div>
          <div class="caption">
            <h3>David Corner</h3>
            <p>Front End Developer</p>
            <div class="social-links">
              <a href="#"><i class="fab fa-facebook"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
          </div>
        </div>
        <div class="profile-card">
          <div class="img">
            <img
              src="https://static.vecteezy.com/packs/media/components/global/search-explore-nav/img/vectors/term-bg-1-666de2d941529c25aa511dc18d727160.jpg"
            />
          </div>
          <div class="caption">
            <h3>David Corner</h3>
            <p>Front End Developer</p>
            <div class="social-links">
              <a href="#"><i class="fab fa-facebook"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
          </div>
        </div>
        <div class="profile-card">
          <div class="img">
            <img
              src="https://static.vecteezy.com/packs/media/components/global/search-explore-nav/img/vectors/term-bg-1-666de2d941529c25aa511dc18d727160.jpg"
            />
          </div>
          <div class="caption">
            <h3>David Corner</h3>
            <p>Front End Developer</p>
            <div class="social-links">
              <a href="#"><i class="fab fa-facebook"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />
  </body>
</html>
