<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ChesSBS | HOME</title>
    <link rel="stylesheet" href="/styles/index.css" />
    <link rel="stylesheet" href="/styles/navbar.css" />

    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <img
          src="https://cdn3.iconfinder.com/data/icons/sport-games-and-fitness-1/64/C_Chess_Knight-512.png"
          alt="logo"
          class="logo"
        />
        <nav>
          <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/dashboard/app">DASHBOARD</a></li>
            <li><a href="#">RESOURCES</a></li>
            <li><a href="#">ACTIVITIES</a></li>
          </ul>
        </nav>
        <img src="/images/menu.png" alt="menu icon" class="menu-icon" />
      </div>

      <div class="row">
          <div class="col">
              <h1>ChesSBS</h1>
              <p>The Official Chess Club of Step By Step School Noida</p>
              <button type="button" onclick="window.location.href = '/about' ">Explore</button>
          </div>
          <div class="col">
              <div class="card card1">
                  <h5>Hello</h5>
                  <p class="card-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
              <div class="card card2">
                  <h5>Hello</h5>
                  <p class="card-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
              <div class="card card3">
                  <h5>Hello</h5>
                  <p class="card-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
              <div class="card card4">
                  <h5>Hello</h5>
                  <p class="card-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
          </div>

      </div>
    </div>
  </body>
</html>
