#username-display {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 0px;
  font-size: 2rem;
  width: fit-content;
}
#email-display {
  padding-left: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.opening-card {
  width: 50%;
  margin-left: 7%;
  background-color: black;
  margin-top: 3%;
  display: inline-block;
  border-radius: 2%;
  color: #fff;
}

.details-card {
  width: 15%;
  /* float: left; */
  margin-left: 15%;
  color: #fff;
  margin-top: 3%;
  display: inline-block;
  border-radius: 7%;
  background: black;
}


*{
 margin:0;
 padding: 0;
 outline: 0;
}
.filter{
 /* position: absolute; */
 left: 0;
 top: 0;
 bottom: 0;
 right: 0; 
 z-index: 1;
 background: black;
opacity: .7;
}
table{
 /* position: absolute; */
 z-index: 2;
 left: 50%;
 top: 50%;
 /* transform: translate(-50%,-50%); */
 width: 50%; 
 border-collapse: collapse;
 border-spacing: 0;
 box-shadow: 0 2px 15px rgba(64,64,64,.7);
 border-radius: 12px 12px 0 0 !important;
 overflow: scroll;
 margin-left: 7%;
 margin-top: 3%;
}
td , th{
 padding: 15px 10px;
 text-align: center;
 
}
th{
 background-color: black;
 color: #fafafa;
 font-family: 'Open Sans',Sans-serif;
 font-weight: 200;
 text-transform: uppercase;
 width: fit-content;
}
tr{
 width: 100%;
 background-color: #fafafa;
 font-family: 'Montserrat', sans-serif;
}
tr:nth-child(even){
 background-color: #eeeeee;
}